<form method="post" <%if (showFile) { %>  enctype="multipart/form-data" <% } %> >

  <% if (showFile) { %>
    <% if (form.image) { %>
      <div class="row">
        <div class="col">
          <img class="img-fluid" style="max-width: 150px;" src="/upload/<%= form.image %>"  alt="">
          <a href="/admin/firmy/<%= form.companyId %>/usun-zdjecie" class="btn btn-sm btn-danger">Usuń</a>
        </div>
      </div>
      <% } %>
  
  <div class="mb-3">
    <label for="image" class="form-label">Zdjęcie</label>
    <input type="file" id="image" name="image" class="form-control">
  </div>
  <% } %>    

    <div class="mb-3">
        <label for="name" class="form-label">Nazwa Firmy</label>
        <input type="text"
        name="name"
        value="<%= form.name %>"
        class="form-control<%= errors?.name ? ' is-invalid' : ''%>"/>
        <% if (errors?.name) { %><div class="invalid-feedback"><%= errors.name.message %></div><% } %> 
        <div class="form-text">Przynajmniej 3 znaki</div>
    </div>

        <% if (addAdress) { %>
        <div class="form-floating mb-3">
          <textarea 
          class="form-control" 
          placeholder="Pełny adres firmy..." 
          id="companyAdress" 
          name="companyAdress"
          style="height: 100px"><%= form.companyAdress?.adress %></textarea>
          <label for="companyAdress">Adres Firmy</label>
        </div>
        <div class="form-floating mb-3">
          <textarea 
          id="companyNip" 
          name="companyNip"
          placeholder="Leave a comment here"
          class="form-control<%= errors?.companyAdress ? ' is-invalid' : ''%>"><%= form.companyAdress?.companyNip %></textarea>
          <label for="companyNip">NIP</label>
        </div>
          <% if (errors?.adress) { %><div class="invalid-feedback"><%= errors.companyNip.message %>
          </div><% } %> 
          <% } %>
     
      <button class="btn btn-primary"><%- buttonText %></button>
      
</form>

<% if (errors) { console.log(errors) %>
<div class="alert alert-danger mt-3">
    <ul>
     Popraw dane w formularzu!
    </ul>
  </div>
<% } %>