<h1>Edytowanie zlecenia</h1>
<hr class="dropdown-divider">
<!-- DANE PODSTAWOWE -->
<div class="card mb-2 card-header">
<div class="card-body">
 <form method="post">
     <input type="hidden" name="companyId" value="<%- carrier.companyId%>">
    <div class="row g-3">
    <div class="col-md-6">
        <!-- firma zlecająca -->
       <b><label for="orderClient" class="form-label">Firma zlecająca</label></b> 
        <select 
        class="form-select<%= errors?.orderClient ? ' is-invalid' : ''%>" 
        id="orderClient" 
        name="orderClient" 
        aria-label="Default select example">
            <option selected value="<% if (order.orderClient){ %><%- order.orderClient %><% }else{ %>brak<% } %>"><% if (order.orderClient){ %><%- order.orderClient %><% }else{ %>Wybierz zleceniodawcę<% } %></option>
            <% clients.forEach(clients => { %>
            <option value="<%- clients.clientName %>"><%- clients.clientName %></option>
            <% }) %>
          </select>
      </div>
          <!-- Samochód -->
          <div class="col-md-6">
            <b><label for="carForOrder" class="form-label">Samochód</label></b> 
             <select 
             class="form-select<%= errors?.carForOrder ? ' is-invalid' : ''%>" 
             id="carForOrder" 
             name="carForOrder" 
             value="<%= form.carForOrder %>"
             aria-label="Default select example">
                 <option selected value="<% if (order.carForOrder){ %><%- order.carForOrder %><% }else{ %>brak<% } %>"><% if (order.carForOrder){ %><%- order.carForOrder %><% }else{ %>Wybierz Samochód<% } %></option>
                 <% cars.forEach(cars => { %>
                    <option value="<%- cars.carPlats %>"><%- cars.carPlats%></option>
                <% }); %>
               </select>
           </div>
      <!-- numer zlecenia -->
      <div class="col-md-6">
        <b><label for="orderNumber" class="form-label">Numer zlecenia</label></b>
        <input 
        type="text" 
        name="orderNumber" 
        placeholder="numer zlecenia..." 
        class="form-control<%= errors?.orderNumber ? ' is-invalid' : ''%>" 
        value="<%= order.orderNumber %>"
        id="orderNumber">
      </div>
      <div class="col-md-6">
         <!-- kierowca -->
         <b><label for="driver" class="form-label">Kierowca</label></b> 
         <select 
         class="form-select is-invalid" 
         id="driver" 
         name="driver" 
         value="<%= form.driver %>"
         aria-label="Default select example">
             <option selected value="brak">Wybierz kierowcę</option>
             <% users.forEach(users => { %>
                <option value="<%-users.userId%>"><%- users.userImie %></option>
            <% }); %> 
           </select>
       </div>
      <!-- e-mail klienta -->
      <div class="col-md-6">
        <b><label for="contaktPersonEmail" class="form-label">E-mail</label></b>
        <input 
        type="text" 
        name="contaktPersonEmail" 
        placeholder="e-mail zleceniodawcy..." 
        class="form-control<%= errors?.contaktPersonEmail ? ' is-invalid' : ''%>" 
        value="<%= order.contaktPersonEmail %>"
        id="contaktPersonEmail">
      </div>
      <!-- cena -->
      <div class="col-md-6">
        <b><label for="price" class="form-label">Cena</label></b>
        <input 
        type="number" 
        name="price" 
        value="<%= order.price %>"
        placeholder="cena frachtu..." 
        class="form-control<%= errors?.price ? ' is-invalid' : ''%>" 
        id="price">
      </div>
      <!-- waluta -->
        <div class="col-md-6">
            <b><label for="currency" class="form-label">Waluta</label></b> 
            <select 
            class="form-select" 
            id="currency" 
            value="<%= order.currency %>"
            name="currency" 
            aria-label="Default select example">
                <option selected value="EUR">EURO</option>
                <option value="PLN">PLN</option>
            </select>
        </div>
        <!-- prowizja -->
        <div class="col-md-6">
            <b><label for="interest" class="form-label">Prowizja</label></b> 
            <select 
            class="form-select<%= errors?.interest ? ' is-invalid' : ''%>" 
            id="interest" 
            value="<%= order.interest %>"
            name="interest" 
            aria-label="Default select example">
                <option selected value="<% if (order.interest){ %><%- order.interest %><% }else{ %>brak<% } %>"><% if (order.interest){ %><%- order.interest %><% }else{ %>Wybierz prowizję<% } %></option>
                <option value="0">0%</option>
                <option value="0.07">7%</option>
                <option value="0.08">8%</option>
                <option value="0.09">9%</option>
                <option value="0.10">10%</option>
            </select>
        </div>
  </div>
</div> </div> 


<!-- ADRESY -->
<div class="card mb-2 bg-light">
    <div class="card-body">
     <div class="row g-3">
                  <!-- data załadunku -->
                 <div class="col-md-6">
                    <b><label for="loadingDate" class="form-label">Data załadunku</label></b>
                    <input 
                    type="text" 
                    placeholder="data załadunku..." 
                    name="loadingDate" 
                    value="<%= order.loadingDate %>"
                    class="form-control<%= errors?.loadingDate ? ' is-invalid' : ''%>" 
                    id="loadingDate">
                  </div>
                  <!-- data rozładunku -->
                  <div class="col-md-6">
                    <b><label for="unloadingDate" class="form-label">Data rozładunku</label></b>
                    <input 
                    type="text" 
                    placeholder="data rozładunku..." 
                    name="unloadingDate" 
                    value="<%= order.unloadingDate %>"
                    class="form-control<%= errors?.unloadingDate ? ' is-invalid' : ''%>" 
                    id="unloadingDate">
                  </div>
                  <!-- adres załadunku -->
                  <div class="col-md-6">
                    <b><label for="lAdress" class="form-label">Adres załadunku</label></b>
                    <textarea 
                    type="text" 
                    class="form-control<%= errors?.lAdress ? ' is-invalid' : ''%>" 
                    id="lAdress" 
                    name="lAdress" 
                    placeholder="adres załadunku..."><%= order.loadingAdress.lAdress %></textarea>
                  </div>
                  <!-- adres rozładunku -->
                  <div class="col-md-6">
                    <b><label for="uAdress" class="form-label">Adres Rozładunku</label></b>
                    <textarea 
                    type="text" 
                    class="form-control<%= errors?.uAdress ? ' is-invalid' : ''%>" 
                    id="uAdress" 
                    name="uAdress" 
                    placeholder="adres rozładunku..."><%= order.unloadingAdress.uAdress %></textarea>
                  </div>
                  <!-- kod pocztowy załadunku -->
                  <div class="col-md-6">
                    <input type="text" 
                    placeholder="kod pocztowy załadunku..." 
                    name="lPostCode" 
                    value="<%- order.loadingAdress.lPostCode %>"
                    class="form-control<%= errors?.lPostCode ? ' is-invalid' : ''%>" 
                    id="lPostCode">
                  </div>
                  <!-- kod pocztowy rozładunku -->
                  <div class="col-md-6">
                    <input 
                    type="text" 
                    placeholder="kod pocztowy rozładunku..." 
                    name="uPostCode" 
                    value="<%- order.unloadingAdress.uPostCode %>"
                    class="form-control<%= errors?.uPostCode ? ' is-invalid' : ''%>" 
                    id="uPostCode">
                  </div>
                  <!-- towar -->
                  <div class="col">
                  <b><label for="cargo" class="form-label">Towar</label></b>
                    <input 
                    type="text" 
                    placeholder="towar..." 
                    name="cargo" 
                    value="<%- order.cargo %>"
                    class="form-control<%= errors?.cargo ? ' is-invalid' : ''%>" 
                    id="cargo">
                  </div>
            </div>
        </div>
    </div>
    <!-- Kilometry -->
    <div class="card bg-light">
        <div class="card-body">
            <div class="row">
                <!-- puste kilometry -->
                <div class="col">
                    <b><label for="emptyKM" class="form-label">Puste kilometry</label></b>
                    <input 
                    type="number" 
                    placeholder="puste kilometry" 
                    name="emptyKM"
                    value="<%- order.emptyKM %>" 
                    class="form-control<%= errors?.emptyKM ? ' is-invalid' : ''%>" 
                    id="emptyKM">
                  </div>
                  <!-- pełne kilometry -->
                  <div class="col">
                    <b><label for="fullKM" class="form-label">Pełne kilometry</label></b>
                    <input 
                    type="number" 
                    placeholder="pełne kilometry" 
                    name="fullKM" 
                    value="<%- order.fullKM %>" 
                    class="form-control<%= errors?.fullKM ? ' is-invalid' : ''%>" 
                    id="fullKM">
                  </div>
            </div>
        </div>
    </div>
   <!-- stopka -->
    <div class="col-12" style="text-align: right;">
        <hr class="dropdown-divider">
      <button type="submit" class="btn btn-primary">Edytuj</button>
    </div>
</div>
</form>

